.DS_Store
Thumbs.db

node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.vite/

venv/
env/
ENV/
.venv/

**/__pycache__/
*.py[cod]
*$py.class

.env
.env.local
.env.development.local

*.sqlite3
*.db

.vscode/
.idea/
*.swp